input_fq/*
!input_fq/README.md
.nextflow*
.vscode
bmk
delivery*
Pver_ref/*
!Pver_ref/README.md
!Pver_ref/GTF_simplify.py
!Pver_ref/org.Pverrucosa.eg.db.tar.gz
*.binac
results/*
!results/README.md
work/*
!work/README.md
results_backup.tar.gz
