// nextflow.config
nextflow.enable.dsl=2
notification.enabled = true

executor {
    cpus = 160
    memory = '700 GB'
}

notification {
  to = secrets.MAIL_USER
  from =secrets.MAIL_USER
}

mail {
    from = secrets.MAIL_USER
    smtp.host = secrets.MAIL_HOST
    smtp.port = secrets.MAIL_PORT
    smtp.user = secrets.MAIL_USER
    smtp.password = secrets.MAIL_PASSWD
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.ssl.protocols = 'TLSv1.2'
}